.container {
    display: block;
    z-index: 0;
}

.container .board {
    background-image: url('./ajedrez.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Cases';
    height: 600px;
    padding: 37px;
    position: relative;
    width: 600px;
    z-index: 1;
}

.container .board .blancas {
    color: gray;
}

.container .board .negras {
    color: black;
}

.container .board .ficha {
    background-color: transparent;
    border: none;
    float: left;
    font-size: 60px;
    height: auto;
    position: absolute;
    width: auto;
    z-index: 10;
}