
#contenedor
{
    position: relative;
}

#tablero
{
    width: 600px;
    height: 600px;
}

#caballo
{
    position: relative;
    width: 40px;
    top: 44px;
    left: 148px;
    height: 40px;
    float:left;
}