@font-face {
    font-family: "Cases";
    src: url('./fonts/CASEFONT.TTF') format("truetype");
}

#board {
    width: 600px;
    height: 600px;
    z-index: 0;
    background-image: url('./ajedrez.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.ficha {
    border: none;
    float: left;
    font-family: 'Cases';
    font-size: 60px;
    height: auto;
    position: absolute;
    width: auto;
    z-index: 1000;
    background-color: transparent;
}